#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

math-field {
  width: 60vw;
  font-size: 2rem;
  max-width: 800px;
  border-radius: 8px;
  margin: 8px 0;
}
button {
  border-radius: 8px;
  padding: 8px;
  margin: 8px 0;
  font-size: 1em;
  font-weight: bold;
  font-family: system-ui;
}
p {
  font-family: system-ui;
  font-size: 1em;
  padding: 8px;
}


