#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#compute-formula {
  width: 60vw;
  font-size: 2rem;
  max-width: 800px;
  border-radius: 8px;
  margin: 8px 0;
}
button {
  border-radius: 8px;
  padding: 8px;
  margin: 8px 0;
  font-size: 1em;
  font-weight: bold;
  font-family: system-ui;
}
p {
  font-family: system-ui;
  font-size: 1em;
  padding: 8px;
}

.variable {
  display: flex;
  align-items: center;
  font-size: 1em;
  outline: solid 2px rgba(255, 255, 255, 0.696);
  @media (max-width: 920px) {
    flex-direction: column;
  }
  @media (prefers-color-scheme: light) {
    outline: solid 2px rgba(0, 0, 0, 0.696);
  }
}

.variable-child {
  display: flex;
  align-items: center;
  font: 1em;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  math-field::part(virtual-keyboard-toggle) {
    display: none;
  }

  math-field::part(virtual-keyboard) {
    display: none;
  }

  math-field {
    margin: 4px;
    min-width: 20px;
  }
}

math-field::part(menu-toggle) {
  display: none;
}
